<footer class="footer">
    <div class="footer__container">
        <section class="footer__section">
            <h2 class="footer__title">Sobre</h2>
            <p class="footer_about-text">
                Simulação de um e-commerce de informática, desenvolvido para fins educacionais, 
                utilizando Angular. O projeto tem como objetivo demonstrar a criação de uma 
                aplicação web funcional, com recursos como exibição de produtos, carrinho de 
                compras e integração com redes sociais.
            </p>
        </section>

        <div class="footer__logo-wrapper">
            <a href="https://startcapgemini.com.br/" target="_blank" class="footer__logo-link">
                <img src="assets/logo.png" alt="Logo da empresa" class="footer__logo">
            </a>
            <h2 class="footer__contatos-title">Contatos</h2>
        </div>

        <ul class="footer__contacts">
            <li><i class="fa-solid fa-square-envelope"></i>email@email.com</li>
            <li><i class="fa-brands fa-square-whatsapp"></i>(00) 9 0000-0000</li>
            <li><i class="fa-solid fa-phone-volume"></i>(00) 0000-0000</li>
        </ul>
    </div>

    <section class="footer__copyright">
        <i></i>Programa Start by Capgemini  |  &copy; Todos os direitos reservados.
    </section>
</footer>